//Цвета
$basic-white: #fbfcfe;
$blue-gray: #f1f6fc;
$leaf-grey: rgba(142, 152, 146, 0.7);
$purple: #6a107a;
$green: #0f805d;
$black: #000;
$purple-hover: #b22ec8;
$green-hover: #7bdb0a;
$purple-disabled: rgba(106, 16, 122, 0.6);
$green-disabled: rgba(15, 128, 93, 0.5);

$mobile-only: 767px;
$tablet: 768px;
$desctop: 1130px;
