.page {
  height: 100%;
  font-family: "Raleway", sans-serif;
  background-color: $basic-white;
  color: $black;
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
  // font-family: 'AmaticSC', sans-serif;
}

.page__body {
  margin: 0;
  box-sizing: border-box;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
